.head {
  background-color: hsl(206, 13%, 89%);
  padding: 4px 3px;
  box-shadow: 0 4px 6px rgba(16, 22, 20, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home
{
  font-size: 1.25rem;   /* 20px */
  line-height: 1.75rem; /* 28px */
}