.shpcr{
    background-color: rgb(246, 244, 240);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
              0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e7eb;
  border-radius: 0.75rem;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.crimg
{
    width: 70px;
    height: 55px;
    object-fit: contain;
}
.cr1
{
    display: flex;
    flex-direction: column;
}
.cr2
{
    font-size: 1rem;        /* 16px */
    line-height: 1.5rem;    /* 24px */
    font-weight: 700;       /* bold */
}
.cr3
{
    font-size: 0.875rem;    /* 14px */
    line-height: 1.25rem;   /* 20px */
}
.remove
{
    flex: 1 1 0%;
}